<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Point</title>
</head>
<body>
    <form action="/add-point" method="POST">
        <label for="number">Point Number</label>
        <input type="number" name="number" id="number">
        <label for="description">Point Description</label>
        <textarea rows="5" name="description" id="description">
        </textarea>
        <button type="submit">Add Point</button>
    </form>
</body>
</html>